.side-bar {

    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    /*background-color: #fff0f3;*/

}

.site-logo {
    width: 300%;
    height: 300%;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.site-header {
    z-index: 101;
    height: 60px;
    max-height: 60px;
    border-bottom: 0px solid #eeebee;
}

h2 {
    font-size: 32px !important;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #99ffab;
}

a {
    color: #4ff975;
}

/*
body {
    color: #c84f4f;
}*/

.navigation, .site-header, .site-footer {
    width: 304px;
}

.site-header {
    display: flex;
    min-height: 100px;
    align-items: center;
}
